@font-face {
  font-family: 'MasonChronicles';
  src: url('../font/MasonChronicles.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'masonchronicles';
  src: url('../font/masonchronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}